<div th:replace="~{layout/master :: layout (~{:: main})}">
  <main>
    <h1 style="text-align: center">LISTA DE MARCAS</h1>
    <table class="table table-light">
      <tr style="text-align: center" class="table-success">
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Fundação</th>
        <th>Tipo</th>
        <th>Dono</th>
        <th>Opções</th>
      </tr>

      <tr style="text-align: center" th:each="marca : ${marcas}">
        <td><span th:text="${marca.nome}"></span></td>
        <td><span th:text="${marca.cnpj}"></span></td>
        <td><span th:text="${marca.fundacao}"></span></td>
        <td><span th:text="${marca.tipo}"></span></td>
        <td><span th:text="${marca.dono}"></span></td>
        <td class="buttons">
          <a
            class="btn btn-primary"
            type="button"
            th:href="@{/marca/editar/{id}(id=${marca.id})}"
            >Editar</a
          >
          <a
            class="btn btn-danger"
            type="button"
            th:href="@{/marca/delete/{id}(id=${marca.id})}"
            >Excluir</a
          >
        </td>
      </tr>
    </table>
  </main>
</div>
